.todo-container {
    margin: 30px auto 0;
    width: 500px;
    h1 {
        text-align: center;
    }
    .todo-wrapper {
        box-sizing: border-box;
    padding: 20px;
        background-color: #FFF;
        border-radius: 5px;
        
    }
}